{% extends 'base.html' %}

{% block content %}

    <h1>Memes</h1>

    <div>
        <div>
            <span>{{ cat.name }}</span>
            <p>Title: {{ meme.title }}</p>
            <p>Description: {{ meme.description | linebreaks}}</p>
            <p>Is this meme funny?: {{ meme.isFunny }}</p>
        </div>
        <div>
            <a href="{% url 'meme_update' meme.id %}">Edit Meme</a>
            <a href="{% url 'meme_delete' meme.id %}">Delete Meme</a>
        </div>
    </div>

{% endblock %}